<div class="app-wrap">
  <header>
    <input
      type="text"
      autocomplete="off"
      [(ngModel)]="location"
      class="search-box"
      placeholder="Search for a city"
    />
  </header>

  <main>
    <section class="location">
      <div class="city">{{data.city_name}}</div>
      <div class="date">{{data.datetime}}</div>
    </section>

    <div class="current">
      <div class="temp">15<span>°C</span></div>
      <div class="weather">Sunny</div>
      <div class="hi-low">13°C / 16°C</div>
    </div>
  </main>
</div>
<!-- {
  "app_temp": -49.6,
  "aqi": 0,
  "city_name": "Port-aux-Français",
  "clouds": 5,
  "country_code": "TF",
  "datetime": "2022-12-15:18",
  "dewpt": -39.6,
  "dhi": 63.56,
  "dni": 668.17,
  "elev_angle": 14.72,
  "ghi": 226.58,
  "gust": 2.2285156,
  "h_angle": -72,
  "lat": -78.5,
  "lon": 38.5,
  "ob_time": "2022-12-15 18:07",
  "pod": "n",
  "precip": 0,
  "pres": 618,
  "rh": 96,
  "slp": 1019,
  "snow": 0,
  "solar_rad": 226.6,
  "sources": [
      "analysis"
  ],
  "state_code": "03",
  "station": "G0697",
  "sunrise": "00:00",
  "sunset": "00:00",
  "temp": -35.7,
  "timezone": "Africa/Johannesburg",
  "ts": 1671127657,
  "uv": 1.9167814,
  "vis": 16,
  "weather": {
      "code": 800,
      "icon": "c01n",
      "description": "Clear sky"
  },
  "wind_cdir": "NW",
  "wind_cdir_full": "northwest",
  "wind_dir": 323,
  "wind_spd": 2.2419922
} -->