<div class="app-wrap">
  <header>
    <input
      type="text"
      autocomplete="off"
      [(ngModel)]="location"
      class="search-box"
      placeholder="Search for a city"
    />
  </header>

  <main>
    <section class="location">
      <div class="city">{{data.name}}</div>
      <div class="date"></div>
    </section>

    <div class="current">
      <div class="temp">{{data.main.feels_like}}<span>°C</span></div>
      <div class="weather">{{data.weather[0].main}}</div>
      <div class="hi-low">{{data.main.temp_max}}°C / {{data.main.temp_min}}°C</div>
    </div>
  </main>
</div>
<!-- {
  "coord": {
      "lon": 31.2497,
      "lat": 30.0626
  },
  "weather": [
      {
          "id": 800,
          "main": "Clear",
          "description": "clear sky",
          "icon": "01n"
      }
  ],
  "base": "stations",
  "main": {
      "temp": 66.96,
      "feels_like": 66.31,
      "temp_min": 66.42,
      "temp_max": 66.96,
      "pressure": 1020,
      "humidity": 63
  },
  "visibility": 6000,
  "wind": {
      "speed": 4.61,
      "deg": 90
  },
  "clouds": {
      "all": 0
  },
  "dt": 1671132105,
  "sys": {
      "type": 1,
      "id": 2514,
      "country": "EG",
      "sunrise": 1671079405,
      "sunset": 1671116206
  },
  "timezone": 7200,
  "id": 360630,
  "name": "Cairo",
  "cod": 200
} -->