<div class="app-wrap">
  <img src="../assets/1 (1).jpg" alt="img" *ngIf="data.main.feels_like < 15" class="background">
  <img src="../assets/1 (2).jpg" alt="img" *ngIf="data.main.feels_like > 15" class="background">
  <header>
    <form #form="ngForm" (submit)="onSubmit()">
    <input
      type="text"
      autocomplete="off"
      [(ngModel)]="location"
      class="search-box"
      placeholder="Search for a city"
      name="city"
    />
  </form>
  </header>

  <main>
    
    <section class="location">
      <div class="city ">{{data.name}}</div>
      <div class="date"></div>
    </section>

    <div class="current">
      <div class="temp">{{data.main.feels_like}}<span>°C</span></div>
      <div class="weather">{{data.weather[0].main}}</div>
      <div class="hi-low">{{data.main.temp_max}}°C / {{data.main.temp_min}}°C</div>
    </div>
  </main>
</div>
